<h2 class="text-center mb-4">Pay using @ViewBag.Method</h2>

<form method="post" asp-action="Success" class="text-center">
    <input type="number" name="amount"
           placeholder="Enter Amount"
           style="width:90%;padding:10px;border:1px solid gray;border-radius:6px;"
           required />

    <br><br>

    <button type="submit" class="btn btn-success">Order Now</button>
</form>
